body{
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
}


h1{
    text-align: center;
}

p{
    text-align: center;
    color: #2e0707;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

ul{
    list-style-type: none;
}

li {
    text-align: center;
    float: left;
    background: #cfbbbb; 
    border:1px solid #2e0707;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
}

ul li {
width:fit-content;
}

.navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 40%;
    text-align: center;
  }
