table {
    width: 40%;
    height: auto;
    border-collapse:collapse;
}

th {
    background: rgb(32, 185, 32);
    color: rgb(0, 0, 0);
    font-size:x-large;
    text-align:left;
    border-bottom: 2px solid #ffffff;
    height: 50px;
}
    tr:nth-child(even){
    background: rgb(94, 155, 28);
    color: rgb(255,255,255);
    font-size: x-large;
    text-align: left; 
    border-bottom: 2px solid #ffffff;
    height: 50px;
}

tr:nth-child(odd){
    background: rgb(143, 196, 88);
    color: rgb(255,255,255);
    font-size: x-large;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    height: 50px;
}