table {
    width: 40%;
    height: auto;
    border-collapse:collapse;
}

th {
    background: rgb(3, 102, 3);
    color: rgb(0, 0, 0);
    font-size:x-large;
    text-align:left;
    border-bottom: 2px solid #ffffff;
    height: 50px;
}
    tr:nth-child(even){
    background: rgb(56, 108, 0);
    color: rgb(255,255,255);
    font-size: x-large;
    text-align: left; 
    border-bottom: 2px solid #ffffff;
    height: 50px;
}

tr:nth-child(odd){
    background: rgb(132, 218, 41);
    color: rgb(255,255,255);
    font-size: x-large;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    height: 50px;
}