body{
    height: 100vh;
    width: 100vw;
}

div {
    background-color: rgb(255, 255, 255);
    display: block;
}

.box {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 6px 6px 6px 6px rgb(202, 200, 198);
    width: 50%;
    margin: 20px;
    padding: 5px;
    position: relative;
}

h1 {
    position: relative;
    bottom: 45px;
    font-style: normal;
}

p {
    position: absolute;
    top: 20px;
}

iframe {
    width: 30%;
    height: 30%;
    border-radius: 20px;
    border: solid 1px;
    padding: 40px;
    position: fixed;
    right: 0px;
    bottom: 0px;


}

.caption {
    text-align: center;
    margin-top: 10px; 
    font-weight: bold;
    position: relative;
    bottom: 55px;
    z-index: index 1;

}

.icon {
    border:solid 1px red;
    border-radius: 500px 500px;
    background-color: red;
    float: right;
}