
/* Homepage CSS */

body {
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    margin: 1em 10% 0 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: url('../images/cursorr.png') 5 5, auto;
}

h1 {
    text-align: center;
    padding: 10px;
}

p {
    text-align: left;
    padding: 10px;
    padding-top: 0px;
}

hr {
    margin: 30px 0px 20px;
}

h2 {
    text-align: center;
    padding: 10px;
}

h4 {
    color: grey;
    text-align: left;
    padding: 10px;
    padding-bottom: 0px;
}
.info {
    padding-bottom: 10px;
    background-color:antiquewhite ;
    transition: transform 0.2s;

}

.info:hover {
    background-color:  rgb(221, 191, 191);
    border: 1px solid brown;
    transform: scale(1.1);


}
table {
    display: block;
    margin: auto;
    padding:0%;
    background-color: burlywood;
    width: max-content;
    box-shadow: 1px 1px 4px 4px white;
}

.nav {
    border-radius: 10px;
    text-align: center;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    transition: transform 0.2s;

}
.nav:hover{
    transform: scale(1.1);
    background-color: rgb(221, 191, 191);
    border: 0px solid brown;
    transform: scale(1.1);
    cursor: context-menu;
}


section {
    background-color: wheat;
    margin: auto;
    border-radius: 10px;
}

.border {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 30px;
    box-shadow: 1px 1px 4px 4px white;

}

#arr {
    background-color: rgb(170, 143, 143);
    color: rgb(16, 16, 17);
    text-align: center;
    border-radius: 10px;
    transition: transform 0.2s;

}

#arr:hover{
    background-color:  rgb(221, 191, 191);
    border: 0px solid brown;
    transform: scale(1.1);

}
.read-more {
    position: relative;
    left: 1px;
    bottom: 11px;
    border: 1px solid red;
    border-radius: 5px;
    background-color:lightcoral;
    transition: transform 0.2s;

}
.read-more:hover{
    border: 3px solid red;
    border-radius: 5px;
    background-color: rgb(221, 191, 191);
    transform: scale(1.1);

}
#footer{
    padding: 10px 10px 10px 10px;
    text-align: center;
    text-decoration: underline;
}

li {
    text-align: left;
}
img{
    box-shadow: 1px 1px 4px 4px white ;
}
/* CSS for the page Contact me */

.contact{
    padding: 10px;
}

.message:hover{
    background-color: bisque;
    transform: scale(1.1);

}

